<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<button id="test" onclick="callApi(1)">댓글 가져오기</button>
<button id="ajax" onclick="callApi(1)">댓글 가져오기 ajax</button>
<div id="getComment"></div>

<script>
  $(document).ready(function () {

    $('#ajax').on('click', function () {
      console.log("일단 호출")
      var commentId = 1;
      var apiUrl = [] + commentId;
      var token = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0IiwiYXV0aCI6IlVTRVIiLCJleHAiOjE3MDQwMTI4NTEsImlhdCI6MTcwNDAxMTA1MX0.3SSrUzuXSX7W4OroBMCwJJAV9i2R3W6ZNWVP42QQTjM"

      $.ajax({
        type:"GET"
        , url:apiUrl

        , success : function(data) {
          var commentData = data.data;
          document.getElementById("getComment").innerText = JSON.stringify(
              commentData)
        }
      });
    })

  })
  function callApi(commentId) {
    console.log("일단 호출")
    var apiUrl = "http://localhost:8080/api/comments/" + commentId;
    var token = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0IiwiYXV0aCI6IlVTRVIiLCJleHAiOjE3MDQwMTI4NTEsImlhdCI6MTcwNDAxMTA1MX0.3SSrUzuXSX7W4OroBMCwJJAV9i2R3W6ZNWVP42QQTjM"
    fetch(apiUrl, {
      headers: {
        'Authorization': token
      }
    })
    .then(response => {
      if (response.ok) {
        return response.json();
      }
      // throw new Error() do something 해야함
    })
    .then(data => {
      var commentData = data.data;
      document.getElementById("getComment").innerText = JSON.stringify(
          commentData)
    })
  }
</script>
</body>
</html>