<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <button id="test" onclick="callApi(1)">댓글 가져오기</button>
  <div id="getComment"></div>
  <script>
    function callApi(commentId) {
      var apiUrl = "api/comments/" + commentId;
      var token = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0IiwiYXV0aCI6IlVTRVIiLCJleHAiOjE3MDQxNzk0MTgsImlhdCI6MTcwNDE3NzYxOH0.qBHPaeBQN-PMuJwJs6nn73XAo2sO-oOf5wjsr5nlo0g"
      fetch(apiUrl, {
        headers: {
          'Authorization': token
        }
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        }
        // throw new Error() do something 해야함
      })
      .then(date => {
        var commentData = data.data;
        document.getElementById("getComment").innerText = JSON.stringify(
            commentData)
      })
    }
  </script>

</body>
</html>